server {
  listen                <%= @listen_address %>:<%= @listen_port %>;

  server_name           <%= @server_name %> <%= @server_aliases.join(" ") %>;
  access_log            /var/log/nginx/<%= @server_name %>.access.log;

  location / {
    root  <%= @kibana_dir %>/current;
    index  index.html  index.htm;
    <% if node['kibana']['web_user'] %>
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/htpasswd;
    <% end %>
  }

  location ~ ^/.*/_aliases$ {
    <% if node['kibana']['web_user'] %>
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/htpasswd;
    <% end %>
    proxy_pass http://<%= @es_server %>:<%= @es_port %>;
    proxy_read_timeout 90;
    <% if node[:kibana][:es_user] %>
    proxy_set_header Authorization "Basic <%= Base64.encode64("#{node[:kibana][:es_user]}:#{node[:kibana][:es_password]}").chomp %>";
    <% end %>
  }
  location ~ ^/_nodes$ {
    <% if node['kibana']['web_user'] %>
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/htpasswd;
    <% end %>
    proxy_pass http://<%= @es_server %>:<%= @es_port %>;
    proxy_read_timeout 90;
    <% if node[:kibana][:es_user] %>
    proxy_set_header Authorization "Basic <%= Base64.encode64("#{node[:kibana][:es_user]}:#{node[:kibana][:es_password]}").chomp %>";
    <% end %>
  }
  location ~ ^/.*/_search$ {
    <% if node['kibana']['web_user'] %>
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/htpasswd;
    <% end %>
    proxy_pass http://<%= @es_server %>:<%= @es_port %>;
    proxy_read_timeout 90;
    <% if node[:kibana][:es_user] %>
    proxy_set_header Authorization "Basic <%= Base64.encode64("#{node[:kibana][:es_user]}:#{node[:kibana][:es_password]}").chomp %>";
    <% end %>
  }
  location ~ ^/.*/_mapping.*$ {
    <% if node['kibana']['web_user'] %>
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/htpasswd;
    <% end %>
    proxy_pass http://<%= @es_server %>:<%= @es_port %>;
    proxy_read_timeout 90;
    <% if node[:kibana][:es_user] %>
    proxy_set_header Authorization "Basic <%= Base64.encode64("#{node[:kibana][:es_user]}:#{node[:kibana][:es_password]}").chomp %>";
    <% end %>
  }
  # Password protected end points
  location ~ ^/kibana-int/dashboard/.*$ {
    <% if node['kibana']['web_user'] %>
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/htpasswd;
    <% end %>
    proxy_pass http://<%= @es_server %>:<%= @es_port %>;
    proxy_read_timeout 90;
    <% if node[:kibana][:es_user] %>
    proxy_set_header Authorization "Basic <%= Base64.encode64("#{node[:kibana][:es_user]}:#{node[:kibana][:es_password]}").chomp %>";
    <% end %>
  }
  location ~ ^/kibana-int/temp.*$ {
    <% if node['kibana']['web_user'] %>
    auth_basic "Restricted";
    auth_basic_user_file /etc/nginx/htpasswd;
    <% end %>
    proxy_pass http://<%= @es_server %>:<%= @es_port %>;
    proxy_read_timeout 90;
    <% if node[:kibana][:es_user] %>
    proxy_set_header Authorization "Basic <%= Base64.encode64("#{node[:kibana][:es_user]}:#{node[:kibana][:es_password]}").chomp %>";
    <% end %>
  }
}
